<ion-view view-title="About">
  <ion-content>
    <ion-list>
      <div class="about-detail">
        <h4><p>The Weather Channel App Now Tells You the Best Time to Go for a Run. Get the most hyperlocal weather data with our global network of personal weather stations. Locate and "favorite" your nearest station for the most accurate forecast out there. In addition to current conditions, this free app provides community weather content such as webcams, photos and crowd reports</p></h4>
       
        <h4><a href="mailto:jaspreetbhullar502@gmail.com?Subject=Hello%20again" target="_top">Jaspreet Kaur Bhullar</a></h4>

        
      </div>
    </ion-list>
  </ion-content>
</ion-view>
