<ion-view view-title="Help & Feedback">
  <ion-content class="padding">
    <div class="main1">

                <b><a href="https://feedback.weather.com/customer/en_gb/portal/topics/854742-android-phone-app/articles">For More Help Click Here</a></b>
           
      </div>
    </div>
 
    <div class="help-detail">
    <h4><p>Never get caught in the rain again with this powerful, free mobile app for 
      iPhone and Apple Watch. Stay informed with reliable forecasts, interactive 
      radar and real-time rain alerts, backed by the most trusted name in weather
      -- The Weather Channel. It’s the app users call "awesome" and the "best app
      on my phone." We will give you up to date information about the weather changes
      and alerts. You can plan your journey according to current weather conditions.</p></h4>
    </div>

    <div class="video">
        <iframe src="https://www.youtube.com/embed/Fz0DpBKpG5M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </ion-content>
</ion-view>
